<div class="absolute-container uk-flex-center uk-flex-middle select-avatar">
	<div class="uk-card uk-card-primary uk-width-1-2@m uk-width-1-3@l">
			<div class="uk-card-header">
				<h2>Редактировать изображение</h2>
			</div>
			<div class="uk-card-body">
				<div class="editing-container uk-flex uk-flex-center uk-flex-middle">
					<img class="image-enabled" alt="" />
					<div class="overlay-avatar"></div>
				</div>
				<div class="slider-container">
					<div class="slider">
						<input type="number" class="uk-hidden number-input" value="0" />
						<div class="bar">
							<div class="bar-fill" style="width: 0%"></div>
						</div>
						<div class="track">
							<div class="grabber" style="left: 0%"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="uk-card-footer uk-flex uk-flex-right uk-background-primary">
				<button id="cancelSetupAvatar" class="uk-button uk-button-default">Отменить</button>
				<button id="setupAvatar" class="uk-button uk-button-danger uk-margin-left">Отправить</button>
			</div>
		</div>
</div>
