<div class="uk-width-expand uk-flex uk-flex-column uk-padding-large">
	<h3>Моя учётная запись</h3>
	<div class="uk-card uk-card-primary uk-border-rounded uk-width-large">
		<div class="uk-card-header uk-flex uk-flex-middle">
			<div class="uk-border-circle user-avatar">
				<img src= <%= avatar %> width="100px" alt="" />
			</div>
			<div class="uk-margin-left">
				<button id="change-avatar" class="uk-button uk-button-danger uk-button-small uk-border-rounded">Изменить аватар</button>
			</div>
		</div>
		<div class="uk-card-body">
			<h3 class="uk-user-name">Ваше имя: <span><%= username %></span> </h3>
			<h3 class="uk-user-chat-id">Ваш ID: <span><%= chatId %></span> </h3>
		</div>
	</div>
	<!-- <%- include('./upload-avatar'); -%> -->
</div>