<div class="absolute-container settings-container uk-flex-center uk-light uk-hidden">
	<%- include('./avatar-upload-input'); -%>
	<button class="uk-modal-close-default uk-margin-medium-top uk-margin-medium-right" type="button" uk-close></button>
	<div class="uk-width-2-3 uk-panel uk-flex">
		<div class="uk-width-large uk-flex uk-flex-right uk-padding-large">
			<ul class="uk-nav uk-nav-default user-setup-list">
				<li class="uk-nav-header">Настройки</li>
				<li class="uk-active">Моя учётная запись</li>
				<li>пункт меню 2</li>
				<li>пункт меню 3</li>
				<li>пункт меню 4</li>
				<li>пункт меню 5</li>
				<li>пункт меню 6</li>
				<li>пункт меню 7</li>
				<li>пункт меню 8</li>
				<li>пункт меню 9</li>
				<li>пункт меню 10</li>
			</ul>
		</div>
		<%- include('./my-account'); -%>
	</div>
</div>
