<div class="avatar-block">
	<form style="transition: all 0.3s ease" class="uk-position-absolute">
		<div uk-form-custom="target: true">
			<input id="select-avatar-input" type="file" name="avatar" alt="avatar" />
			<input class="uk-input uk-form-width-medium" type="text" placeholder="Выберите фото" disabled />
		</div>
	</form>
</div>