<form action="/test" method="post" enctype="multipart/form-data" style="transition: all 0.3s ease" class="uk-position-absolute">
	<div uk-form-custom="target: true">
		<input type="file" name="avatar" alt="avatar" />
		<input class="uk-input uk-form-width-medium" type="text" placeholder="Select file" disabled />
	</div>
</form>
