<html lang="en">
		<%- include('./partials/header'); -%>
	</head>
	<body>
		<div class="uk-section uk-text-center uk-light ">
			<h1 class="uk-heading-2xlarge uk-margin-small-bottom">404</h1>
			<h3 class="uk-margin-small-top">page not found</h3>
		</div>
	</body>
</html>
