<html lang="en">
	<%- include('./partials/header'); -%>
	<body>
		<main class="uk-container uk-container-large">
			<div class="uk-card uk-card-primary uk-card-body uk-text-center">
				<a class="uk-button uk-button-default vkAuth" href="https://oauth.vk.com/authorize?client_id=8086306&redirect_uri=http://pmsokolova.ru/verify&display=popup&response_type=code">войти с помощью vk</a>
			</div>
		</main>
		<script src="/scriptAuth.js"></script>
	</body>
</html>
