<html lang="en">
	<%- include('./partials/header'); -%>
	<body>
		<main id="app">
			<div class="uk-width-expand uk-height-1-1 uk-position-absolute user-setup-panel uk-light uk-hidden">
				<div class="uk-container">
					<div class="uk-grid" uk-gird>
						<div class="uk-width-large uk-flex uk-flex-right uk-padding-large">
							<ul class="uk-nav uk-nav-default user-setup-list">
								<li class="uk-nav-header">Настройки</li>
								<li class="uk-active">Моя учётная запись</li>
								<li>пункт меню 2</li>
								<li>пункт меню 3</li>
								<li>пункт меню 4</li>
								<li>пункт меню 5</li>
								<li>пункт меню 6</li>
								<li>пункт меню 7</li>
								<li>пункт меню 8</li>
								<li>пункт меню 9</li>
								<li>пункт меню 10</li>
							</ul>
						</div>
						<div class="uk-width-expand uk-flex uk-flex-column uk-padding-large">
							<h2>Моя учётная запись</h2>
							<div class="uk-card">
								<div class="uk-card-header">
									<div class="uk-border-circle uk-width-small uk-height-small uk-background-muted">
										<img src="/img/placeholders/avatar.png" alt="" />
									</div>
								</div>
								<div class="uk-card-body"></div>
							</div>
							<div class="avatar-block"><%- include('./partials/upload-avatar'); -%> <%- include('./partials/select-avatar'); -%></div>
						</div>
					</div>
				</div>
			</div>
			<div class="uk-width-expand uk-flex uk-padding uk-height-1-1 app-container">
				<div class="uk-width-expand chat-panel uk-flex uk-flex-column">
					<div class="uk-flex uk-flex-between uk-light chat-title-block">
						<h3 class="uk-margin-remove">Чат</h3>
						<ul class="uk-iconnav uk-flex-middle">
							<li class="users-panel-toggle">
								<a><span uk-icon="icon: users"></span></a>
							</li>
						</ul>
					</div>
					<div class="messages-container uk-flex-1 uk-overflow-auto">
						<div class="chat-wrap uk-position-absolute">
							<ul class="uk-list messages"></ul>
						</div>
					</div>
					<div class="uk-margin-auto-top">
						<form class="uk-flex message-form">
							<input class="uk-input uk-width-expand chat-input" type="text" placeholder="Введите сообщение" />
							<button class="uk-button uk-button-primary uk-width-auto uk-light" type="submit">Отправить</button>
						</form>
					</div>
				</div>
				<div class="uk-width-medium uk-light users-panel uk-flex uk-flex-column uk-margin-small-left">
					<h3 class="uk-margin-remove">
						Онлайн
						<span>В сети:</span>
						<span class="users-count"></span>
					</h3>
					<div class="users-container uk-flex-1 uk-overflow-auto">
						<ul class="uk-list users-online"></ul>
					</div>
					<div class="uk-flex uk-flex-middle user-profile-container">
						<img class="uk-margin-small-left" src="img/placeholders/avatar.png" width="30" alt="" />
						<a class="uk-margin-left setup"><span uk-icon="icon: cog"></span></a>
						<a class="uk-margin-left exit"><span uk-icon="icon: sign-out"></span></a>
					</div>
				</div>
			</div>
		</main>

		<script src="/socket.io/socket.io.js"></script>
		<script src="js/socket.js"></script>
		<script src="js/script.js" type="module"></script>
		<script src="js/setupAvatar.js"></script>
		<script src="js/uploadAvatar.js" type="module"></script>
	</body>
</html>
