<html lang="en">
	<%- include('./partials/header'); -%>
	<body>
		<main class="uk-container uk-container-large">
			<% if(!name) {%>
			<div id="modal-full" class="uk-open uk-flex uk-flex-center uk-flex-middle" uk-modal>
				<div class="uk-card uk-card-primary uk-card-round uk-padding">
					<form class="uk-margin-remove login-form">
						<div class="uk-margin">
							<div class="uk-inline uk-width-1-1">
								<span class="uk-form-icon" uk-icon="icon: user"></span>
								<input class="uk-input name" name="name" type="text" required />
							</div>
						</div>

						<button class="uk-button uk-button-default uk-width-expand">Введите имя</button>
					</form>
				</div>
			</div>
			<% } %>
			<div class="uk-width-expand uk-flex" uk-height-viewport>
				<div class="uk-width-expand uk-padding chat-panel uk-flex uk-flex-column">
					<div class="uk-flex uk-flex-between uk-light chat-title-block">
						<h3 class="uk-margin-remove">Чат</h3>
						<% if(name) {%>
						<div class="uk-flex uk-flex-middle">
							<h3 id="user-name" class="uk-margin-remove"><%= name %></h3>
							<a class="uk-margin-left uk-text-small exit">Выход</a>
						</div>
						<% } %>
						<h3 class="uk-margin-remove">
							<span class="room-title"></span>
							<span>В сети:</span>
							<span class="users-count"></span>
						</h3>
					</div>
					<div class="messages-container uk-flex-1 uk-overflow-auto">
						<div class="chat-wrap uk-position-absolute">
							<ul class="uk-list messages"></ul>
						</div>
					</div>
					<div class="uk-margin-auto-top">
						<form class="uk-flex message-form uk-margin-remove">
							<input class="uk-input uk-width-expand chat-input" type="text" placeholder="Введите сообщение" />
							<button class="uk-button uk-button-primary uk-width-auto uk-light" type="submit">Отправить</button>
						</form>
					</div>
				</div>
			</div>
		</main>

		<script src="/socket.io/socket.io.js"></script>
		<script src="/socket.js"></script>
		<script src="/script.js"></script>
	</body>
</html>
