<html lang="en">
	<%- include('./partials/header'); -%>
	<body>
		<main class="uk-container uk-container-expand">
			<div class="uk-flex uk-flex-middle uk-flex-center uk-height-1-1 avatar-block">
				<%- include('./partials/upload-avatar'); -%>
				<%- include('./partials/select-avatar'); -%>
			</div>
		</main>
		<script src="js/slider.js"></script>
		<script src="js/testScript.js"></script>
		<script src="js/upload-avatar.js" type="module"></script>
	</body>
</html>
