<html lang="en">
	<%- include('./partials/header'); -%>
	<body>
		<main class="container">
			<div  class="row mb-4"></div>
			<div class="row g-4">
				<div class="col-fluid ">
				  <div class="card bg-light">
					 <div class="card-body">
						<h5 class="card-title">Special title treatment</h5>
						<p class="card-text mb-5">With supporting text below as a natural lead-in to additional content.</p>
						<a href="#" class="btn btn-primary w-100">Go somewhere</a>
					 </div>
				  </div>
				</div>
				<div class="col">
				  <div class="card bg-light">
					 <div class="card-body">
						<h5 class="card-title">Special title treatment</h5>
						<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
						<a href="#" class="btn btn-primary">Go somewhere</a>
					 </div>
				  </div>
				</div>
				<div class="col">
				  <div class="card bg-light">
					 <div class="card-body">
						<h5 class="card-title">Special title treatment</h5>
						<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
						<a href="#" class="btn btn-primary">Go somewhere</a>
					 </div>
				  </div>
				</div>
				<div class="col">
					<div class="card bg-light">
					  <div class="card-body">
						 <h5 class="card-title">Special title treatment</h5>
						 <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
						 <a href="#" class="btn btn-primary">Go somewhere</a>
					  </div>
					</div>
				 </div>
			</div>
			
		</main>
		
	</body>
</html>
