body {
	background-color: #3b4048;
}

h3 span:not(.room-title) {
	color: #666;
	font-size: 0.87rem;
}

.messages-container,
.users-container {
	position: relative;
	background-color: #424a52;
}

.messages-container::-webkit-scrollbar {
	width: 0;
}

li,
.message-body {
	padding-left: 10px;
}
.messages {
	padding-top: 10px;
}

.message-user-name,
.message-text {
	margin: 0;
}

.message-text {
	font-size: 0.87rem;
}

.users-panel {
	margin-bottom: 1em;
}

.users-online li:first-child {
	margin-top: 5px;
}

.user-profile-container {
	width: 100%;
	height: 40px;
	background-color: #4d5760;
}

.user-profile {
	cursor: pointer;
}
