body {
	background-color: #3b4048;
}

h3 span:not(.room-title) {
	color: #666;
	font-size: 0.87rem;
}

.messages-container {
	position: relative;
	background-color: #424a52;
}

.messages-container::-webkit-scrollbar {
	width: 0;
}

li,
.message-body {
	padding-left: 10px;
}
.messages {
	padding-top: 10px;
}

.message-user-name,
.message-text {
	margin: 0;
}

.message-text {
	font-size: 0.87rem;
}
