body {
	background-color: #3b4048;
	width: 100%;
	height: 100%;
	user-select: none;
}

.app-wrap {
	position: relative;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	z-index: auto;
}

h3 span:not(.room-title) {
	color: #666;
	font-size: 0.87rem;
}

.messages-container,
.users-container {
	position: relative;
	background-color: #424a52;
}

.absolute-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
}

.absolute-wrap {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	box-sizing: border-box;
	z-index: 101;
}

.avatar-input {
	background-color: #00000085;
	z-index: 1000;
}

.messages-container::-webkit-scrollbar {
	width: 0;
}

li,
.message-body {
	padding-left: 10px;
}
.messages {
	padding-top: 10px;
}

.message-user-name,
.message-text {
	margin: 0;
}

.message-text {
	font-size: 0.87rem;
}

.settings-container,
.chat-container,
.select-avatar {
	transition: all 0.2s ease;
}

.users-panel {
	margin-bottom: 1em;
}

.users-online li:first-child {
	margin-top: 5px;
}

.user-profile-container {
	width: 100%;
	height: 40px;
	background-color: #4d5760;
}

.user-avatar img,
.user-profile-container img,
li img {
	border-radius: 50%;
}

.settings-container {
	transform: scale(1.1);
	opacity: 0;
	background-color: #4d5760;
}

.user-setup-list li:not(.uk-nav-header) {
	padding: 5px 0;
	cursor: pointer;
}

.editing-container {
	position: relative;
	overflow: hidden;
	background-color: #000;
	border-radius: 4px;
	min-height: 300px;
	height: 400px;
	max-height: 500px;
}

.image-enabled {
	opacity: 1;
	transform: translate3d(0px, 0px, 0px);
	cursor: grab;
	pointer-events: all;
	position: absolute;
}

.overlay-avatar {
	border-radius: 50%;
	z-index: 1;
	border: 5px solid #fff;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	pointer-events: none;
	position: absolute;
	-webkit-box-shadow: rgba(47, 49, 54, 0.6) 0 0 0 9999px;
	box-shadow: 0 0 0 9999px rgba(47, 49, 54, 0.6);
	opacity: 1;
}

.slider-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 90%;
	margin: 20px auto;
}

.slider {
	width: 100%;
	height: 40px;
	position: relative;
}

.track {
	position: absolute;
	top: 0;
	right: 5px;
	bottom: 0;
	left: 5px;
	outline: 0;
}

.bar {
	position: relative;
	top: 16px;
	height: 8px;
	border-radius: 4px;
	display: block;
	overflow: hidden;
	background-color: #4f545c;
}

.bar-fill {
	background: #5c8bd3;
	height: 100%;
}

.grabber {
	position: absolute;
	width: 10px;
	height: 24px;
	margin-left: -5px;
	top: 50%;
	margin-top: -13px;
	border-radius: 3px;
	background-color: #fff;
	border: 1px solid #dcddde;
	-webkit-box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.05), 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 3px 3px 0 rgba(0, 0, 0, 0.05);
	box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.05), 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 3px 3px 0 rgba(0, 0, 0, 0.05);
	cursor: ew-resize;
	z-index: 1000;
}

.select-avatar {
	transform: scale(1.7);
	opacity: 0;
	z-index: 1;
	background-color: #4d5760;
}
