<div class="uk-flex uk-flex-between uk-light chat-title-block">
	<h3 class="uk-margin-remove">Чат</h3>
	<ul class="uk-iconnav uk-flex-middle">
		<li class="users-panel-toggle">
			<a><span uk-icon="icon: users"></span></a>
		</li>
	</ul>
</div>