<div class="uk-margin-auto-top">
	<form class="uk-flex message-form">
		<input class="uk-input uk-width-expand chat-input" type="text" placeholder="Введите сообщение" />
		<button class="uk-button uk-button-primary uk-width-auto uk-light" type="submit">Отправить</button>
	</form>
</div>