<div class="uk-card uk-card-primary uk-position-absolute user-card">
   <div class="uk-card-header">
      Заголовок
   </div>
   <div class="uk-card-body">
     <button class="uk-button uk-button-secondary">Click</button>
   </div>
</div>