<div class="uk-width-medium users-panel uk-flex uk-flex-column uk-margin-small-left uk-light">
	<h3 class="uk-margin-remove">Онлайн
		<span>В сети:</span>
		<span class="users-count"></span>
	</h3>
	<div class="users-container uk-flex-1 uk-overflow-auto">
		<ul class="uk-list users-online"></ul>
	</div>
	<div class="uk-flex uk-flex-middle user-profile-container">
		<img class="uk-margin-small-left" width="30" alt="" src= <%= avatar %>	 />
		<a class="uk-margin-left setup" uk-tooltip="Настройки"><span uk-icon="icon: cog"></span></a>
		<a class="uk-margin-left exit" uk-tooltip="Выход"><span uk-icon="icon: sign-out"></span></a>
	</div>
</div>